<!DOCTYPE html>
<html lang="en">
<head>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }

        nav {
            font-size: 15px;
            background-color: rgba(19, 49, 51, 0.75); 
            overflow: hidden;
            position: fixed;
            justify-content: space-between;
            top: 0;
            z-index: 1000;
            margin: 10px;
        }

        nav a {
            float: left;
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        div {
            height: 831px;
            display: none;
            text-align: center;
            padding-top: 60px;
            background-color: rgba(23, 51, 58, 0.827);
            
            
            

        }
        div.font_color{
            color: rgb(255, 255, 255);

            
        }

        div.active {
            display: block;
        }

        div:nth-child(even) {
            background-color: rgba(23, 51, 58, 0.827);
        }

        .active {
            background-color: #37485a;
            color: rgb(255, 255, 255);
        }

    
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var currentDateInput = document.getElementById("imdate");
            var currentDate = new Date();
            var year = currentDate.getFullYear();
            var month = (currentDate.getMonth() + 1).toString().padStart(2, "0");
            var day = currentDate.getDate().toString().padStart(2, "0");
            var formattedDate = year + "-" + month + "-" + day;

            currentDateInput.value = formattedDate;
        }); 
        document.addEventListener("DOMContentLoaded", function () {
            function handleSectionClick(targetId) {
                var sections = document.querySelectorAll("div");
                var navLinks = document.querySelectorAll("nav a");
    
                sections.forEach(function (section) {
                    section.classList.remove("active");
                });
    
                var targetSection = document.getElementById(targetId);
                targetSection.classList.add("active");
    
                navLinks.forEach(function (link) {
                    link.classList.remove("active");
                });
    
                var targetLink = document.querySelector("nav a[data-target='" + targetId + "']");
                targetLink.classList.add("active");
            }
    
            var navLinks = document.querySelectorAll("nav a");
            navLinks.forEach(function (link) {
                link.addEventListener("click", function () {
                    var targetId = this.getAttribute("data-target");
                    handleSectionClick(targetId);
                });
            });
    
            // Storage section
            var storageTable = document.getElementById('storageTable');
            var rowsPerPage = 9;
            var currentPage = 1;
    
            function showRows(page) {
                var rows = document.querySelectorAll('#storageTable tbody tr');
                var startIndex = (page - 1) * rowsPerPage;
                var endIndex = startIndex + rowsPerPage;
    
                rows.forEach(function (row, index) {
                    if (index >= startIndex && index < endIndex) {
                        row.style.display = 'table-row';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }
    
            function updatePaginationButtons() {
                var totalRows = document.querySelectorAll('#storageTable tbody tr').length;
                var totalPages = Math.ceil(totalRows / rowsPerPage);
    
                var nextButton = document.getElementById('nextButton');
                var prevButton = document.getElementById('prevButton');
    
                nextButton.disabled = currentPage === totalPages;
                prevButton.disabled = currentPage === 1;
            }
    
            // Initial setup for Storage
            showRows(currentPage);
            updatePaginationButtons();
    
            // Event listener for Storage Next button
            var nextButton = document.getElementById('nextButton');
            nextButton.addEventListener('click', function () {
                currentPage++;
                showRows(currentPage);
                updatePaginationButtons();
            });
    
            // Event listener for Storage Previous button
            var prevButton = document.getElementById('prevButton');
            prevButton.addEventListener('click', function () {
                currentPage--;
                showRows(currentPage);
                updatePaginationButtons();
            });
    
            // Medicine Status section
            var statusTable = document.getElementById('statusTable');
            var statusRowsPerPage = 9;
            var statusCurrentPage = 1;
    
            function showStatusRows(page) {
                var rows = document.querySelectorAll('#statusTable tbody tr');
                var startIndex = (page - 1) * statusRowsPerPage;
                var endIndex = startIndex + statusRowsPerPage;
    
                rows.forEach(function (row, index) {
                    if (index >= startIndex && index < endIndex) {
                        row.style.display = 'table-row';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }
    
            function updateStatusPaginationButtons() {
                var totalRows = document.querySelectorAll('#statusTable tbody tr').length;
                var totalPages = Math.ceil(totalRows / statusRowsPerPage);
    
                var statusNextButton = document.getElementById('statusNextButton');
                var statusPrevButton = document.getElementById('statusPrevButton');
    
                statusNextButton.disabled = statusCurrentPage === totalPages;
                statusPrevButton.disabled = statusCurrentPage === 1;
            }
    
            // Initial setup for Medicine Status
            showStatusRows(statusCurrentPage);
            updateStatusPaginationButtons();
    
            // Event listener for Medicine Status Next button
            var statusNextButton = document.getElementById('statusNextButton');
            statusNextButton.addEventListener('click', function () {
                statusCurrentPage++;
                showStatusRows(statusCurrentPage);
                updateStatusPaginationButtons();
            });
    
            // Event listener for Medicine Status Previous button
            var statusPrevButton = document.getElementById('statusPrevButton');
            statusPrevButton.addEventListener('click', function () {
                statusCurrentPage--;
                showStatusRows(statusCurrentPage);
                updateStatusPaginationButtons();
            });
            // Medicine section
            var medicineTable = document.getElementById('medicineTable');
            var medicineRowsPerPage = 5;
            var medicineCurrentPage = 1;

            function showMedicineRows(page) {
                var rows = document.querySelectorAll('#medicineTable tbody tr');
                var startIndex = (page - 1) * medicineRowsPerPage;
                var endIndex = startIndex + medicineRowsPerPage;

                rows.forEach(function (row, index) {
                    if (index >= startIndex && index < endIndex) {
                        row.style.display = 'table-row';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }

            function updateMedicinePaginationButtons() {
                var totalRows = document.querySelectorAll('#medicineTable tbody tr').length;
                var totalPages = Math.ceil(totalRows / medicineRowsPerPage);

                var medicineNextButton = document.getElementById('medicineNextButton');
                var medicinePrevButton = document.getElementById('medicinePrevButton');

                medicineNextButton.disabled = medicineCurrentPage === totalPages;
                medicinePrevButton.disabled = medicineCurrentPage === 1;
            }

            // Initial setup for Medicine
            showMedicineRows(medicineCurrentPage);
            updateMedicinePaginationButtons();

            // Event listener for Medicine Next button
            var medicineNextButton = document.getElementById('medicineNextButton');
            medicineNextButton.addEventListener('click', function () {
                medicineCurrentPage++;
                showMedicineRows(medicineCurrentPage);
                updateMedicinePaginationButtons();
            });

            // Event listener for Medicine Previous button
            var medicinePrevButton = document.getElementById('medicinePrevButton');
            medicinePrevButton.addEventListener('click', function () {
                medicineCurrentPage--;
                showMedicineRows(medicineCurrentPage);
                updateMedicinePaginationButtons();
            });

        });
        
    </script>
    
    
    <title>Inventory</title>
</head>
<body>

    <nav>
        <a href="javascript:void(0);" data-target="section1">Home</a>
        <a href="javascript:void(0);" data-target="section2">Storage</a>
        <a href="javascript:void(0);" data-target="section3">Import Medicine</a>
        <a href="javascript:void(0);" data-target="section6">Medicine Status</a>
        <a href="javascript:void(0);" data-target="section7">Employees</a>
        <a href="javascript:void(0);" data-target="section8">Supplier</a>
        <a href="javascript:void(0);" data-target="section9">Medicines</a>
       
        
    </nav>
    
    <div id="section1" class = "active font_color" >
        <hr>
        <h2 style="padding-top: 50px;">Welcome To The Inventory</h2>
        
        <p id="sad" style="font-size: 13px;">Manage Every Medicine Here.</p>
        <hr>
        

        <h5 style="text-align: left; padding-left: 20px; color: #75cbf6;">Section 1</h5>
        <h6 style="text-align: left; padding-left: 20px; ">Total products in the area: <b><i><%= @area1.status %></i></b> </h6><hr>
        <h5 style="text-align: left; padding-left: 20px; color: #75cbf6;">Section 2</h5>
        <h6 style="text-align: left; padding-left: 20px;">Total products in the area: <b><i><%= @area2.status %></i></b> </h6><hr>
        <h5 style="text-align: left; padding-left: 20px; color: #75cbf6;">Section 3</h5>
        <h6 style="text-align: left; padding-left: 20px;">Total products in the area: <b><i><%= @area3.status %></i></b> </h6><hr>

        <a href="/inventory/history">
            <button style="background-color: rgba(14, 171, 210, 0.708); color: black; text-align: left;">History</button>
        </a>
        
        
    </div>



    <div id="section2" class="font_color" >
        <br>
        <h2 >Storage</h2>
        <hr>
        <table class="table" id="storageTable" style="
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.508);
        
        ">
            <thead class="table-dark">
                <tr >
                  <th scope="col">Import Id</th>
                  <th scope="col">Medicine Name</th>
                  <th scope="col">Storage Area</th>
                  <th scope="col">Date Imported</th>
                  <th scope="col">Total Products</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @data.each do |row| %>
                  <tr>
                    <td><%= row.id %></td>
                    <td><%= row.medicine_name %></td>
                    <td><%= row.storage_area %></td>
                    <td><%= row.import_date %></td>
                    <td><%= row.total_products %></td>
                    <td>
                        <a href="/inventory/editImp/<%= row.id %>">
                            <button>edit</button>
                        </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              
            
        </table>
        <button id="nextButton" style="text-align: right;">Next</button>
        <button id="prevButton">Previous</button>

    </div>

    <div id="section3" class="font_color">
        <br>
        <h2>Import Medicine</h2>
        <hr>
        <form action="/inventory/import" method="post"  style="background-color: rgba(42, 81, 83, 0.541); padding: 20px;
        padding: 30px;
        padding-bottom: 30px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.508);
        text-align: left;
        text-align: justify;
        ">
            <center>
            <label for="med" >Medicine Name</label>
            <select name="medname" id="med" style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);" required>
                                
                <% @med.each do |row| %>
                    <option value="<%= row.medicine_name %>"><%= row.medicine_name %></option>
                <% end %>
            </select><br><br>

            <label for="comp">Company Name</label>
            <select name="comp" id="comp" style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);" required>                
                <% @sup.each do |row| %>
                    <option value="<%= row.company_name %>"><%= row.company_name %></option>
                <% end %>
            </select><br><br>

            <label for="plate">Delivery Truck Plate Number</label>
            <input type="text" name="plate" id="plate"><br><br>

            <label for="area">Storage Area</label>
            <select name="area" id="area" style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);" required>                
                <% @storage.each do |row| %>
                    <option value="<%= row.storage_area %>"><%= row.storage_area %></option>
                <% end %>
            </select><br><br>


            <label for="emp">Employee Name</label>
            <select name="emp" id="emp" style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);" required>                
                <% @emp.each do |row| %>
                    <option value="<%= row.employee_name %>"><%= row.employee_name %></option>
                <% end %>
            </select><br><br>

            <input type="hidden" name="imprtdate" id="imdate" required>

            <label for="exdate">Expriration Date</label>
            <input type="date" name="exprdate" id="exdate" required>
            <br><br>

            <label for="tprod">How Many Products</label>
            <input type="number" name="tproducts" id="tprod" min="0" required >
            <br><br>

            <button type="submit">
                Submit
            </button>
            </center>
        </form>
    </div>


    <div id="section6" class="font_color">
        <br>
        <h2>Medicine Status</h2>
        <hr>
        <table class="table" id="statusTable" style="box-shadow: 0 0 20px rgba(255, 255, 255, 0.508);">
            <thead class="table-dark">
                <tr >
                  <th scope="col">Import Id</th>
                  <th scope="col">Medicine Name</th>
                  <th scope="col">Storage Area</th>
                  <th scope="col">Expiration Date</th>
                  <th scope="col">Total Products</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>

                
                </tr>
              </thead>
              <tbody>
                <% @data.each do |row| %>
                <tr>
                    <td><%= row.id %></td>
                    <td><%= row.medicine_name %></td>
                    <td><%= row.storage_area %></td>
                    <td><%= row.expiration_date %></td>
                    <td><%= row.total_products %></td>
                    <td>    
                        <% if row.expiration_date <= @date %>
                        <p style="color: white; background-color: red;">Expired</p>
                        <% elsif row.expiration_date <= @date + @time %>
                        <p style="color: black; background-color: yellow;">Warning: Expiring Soon</p>
                        <% else %>
                        <p style="color: white; background-color: green;">Good</p>
                        <% end %>
                        
                    <td>
                        <a href="/inventory/deleteImp/<%= row.id %>">
                            <button>
                                Delete
                            </button>
                        </a>
                        <a href="/inventory/takeMed/<%= row.id %>">
                            <button>
                                Take Medecines
                            </button>
                        </a>
                        
                        
                    </td>
                     
                </tr>
                <% end %>
                
              </tbody>
            
        </table>
        <button id="statusNextButton">Next</button>
        <button id="statusPrevButton">Previous</button>
    </div>

    <div id="section7" class = "active font_color" > 
        <h2>Employees</h2>
        
        <a href="/inventory/addEmp"><button>Add Employees</button></a> <hr>
        <table class="table" style="box-shadow: 0 0 20px rgba(255, 255, 255, 0.508);">
            <thead class="table-dark">
                <tr >
                  <th scope="col">Employee Name</th>
                  <th scope="col">Contact Number</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @emp.each do |row| %>
                <tr>
                    <td><%= row.employee_name %></td>
                    <td><%= row.contact_number %></td>
                    <td>
                        <a href="/inventory/editEmp/<%= row.id %>">
                            <button>Edit</button>
                        </a>
                        <a href="/inventory/deleteEmp/<%= row.id %>">
                            <button>Delete</button>
                        </a>
                    </td>   
                </tr>
                <% end %>
              </tbody>
        </table>  
           
    </div>
    
    <div id="section8" class = "active font_color" > 
        <h2>Supplier</h2>
   
        <a href="/inventory/addSup"><button>Add Supplier</button></a>
        <hr>
        <table class="table" style="box-shadow: 0 0 20px rgba(255, 255, 255, 0.508);">
            <thead class="table-dark">
                <tr >
                  <th scope="col">Company Name</th>
                  <th scope="col">CEO</th>
                  <th scope="col">Contact</th>

                  <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody>
                <% @sup.each do |row| %>
                <tr>
                    <td><%= row.company_name %></td>
                    <td><%= row.company_ceo %></td>
                    <td><%= row.contact %></td>
                    <td>
                        <a href="/inventory/editSup/<%= row.id %>">
                            <button>Edit</button>
                        </a>
                        <a href="/inventory/deleteSup/<%= row.id %>">
                            <button>Delete</button>
                        </a>
                    </td>   
                </tr>
                <% end %>
              </tbody>
        </table>        
    </div>
    
    <div id="section9" class="active font_color">
        <h2>Medicines</h2>
        
        <a href="/inventory/addMed"><button>Add Medicines</button></a> <hr>

        <form action="/inventory/searchMed" method="post" >
            <label for="type">Medicine Type</label>
            <select name="type" id="type" style="font-size: 15px; color: #DCE8E4; background-color: #242424;">
                <option value="Tablets">Tablets</option>
                <option value="Capsules">Capsules</option>
                <option value="Syrups">Syrups</option>
                <option value="Injections">Injections</option>
                <option value="Patches">Patches</option>
                <option value="Creams">Creams</option>
                <option value="Ointments">Ointments</option>

            </select>
            <button type="submit" style="font-size: 15px; color: #DCE8E4; background-color: #242424;">Search</button>
        </form>

        <br>
        <table class="table" id="medicineTable" style="box-shadow: 0 0 20px rgba(255, 255, 255, 0.508);">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Medicine Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
                <% @med.each do |row| %>
                <tr>
                    <td><%= row.medicine_name %></td>
                    <td><%= row.medicine_type %></td>
                    <td><%= row.description %></td>
                    <td>
                        <a href="/inventory/editMed/<%= row.id %>">
                            <button>Edit</button>
                        </a>
                        <a href="/inventory/deleteMed/<%= row.id %>">
                            <button>Delete</button>
                        </a>
                    </td>   
                </tr>
                <% end %>
            </tbody>
        </table>
            <button id="medicinePrevButton">Previous</button>
            <button id="medicineNextButton">Next</button>
    </div>
    

    <footer style="
        background-color: rgba(3, 83, 66, 0.74); 
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    ">
        <p>&copy; 2023 Pharmacy Inventory and Cashiering System</p>
        <a href="/inventory" ><button style="
            background-color: rgba(3, 83, 66, 0.74);
            font-size: 8px; 
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
        ">Logout</button></a>
        <a href="/inventory/register" ><button style="
            background-color: rgba(3, 83, 66, 0.74);
            font-size: 8px; 
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
        ">Register</button></a>
    </footer>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
       
    </script>
</html>
